.App {
    min-height: 980px;
}

.Header {
    height: 10%;
    background-color: rgb(76, 39, 240);
    line-height: 50px;
    font-weight: 700;
    font-size: 20px;
    color: aliceblue;
}

.Content-Layout {
    height: 90%;
}