body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    min-height: 980px;
}

.Header {
    height: 10%;
    background-color: rgb(76, 39, 240);
    line-height: 50px;
    font-weight: 700;
    font-size: 20px;
    color: aliceblue;
}

.Content-Layout {
    height: 90%;
}

.Sider-Head {
    height: 50px;
    background-color: #888585;
}

.Sider-Head button {
    margin: 10px;
    color: blue;
}

.Delete {
    color: red;
}